.salary-container__form {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &-label,
  &-submit {
    margin-bottom: 20px;
  }

  .form-field {
    margin-left: 8px;

    &__right-align {
      text-align: right;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }

    &__error {
      font-size: 14px;
    }
  }
}
